<section class="user-card">
    <div class="user-label clearfix" (click)="toggleUserActive()" [ngClass]="{'active' : userActive}">
        <div class="label-text">
            <i class="fas fa-user-circle"></i> {{user.name}}
        </div>
        <div class="label-chevron">
            <i class="fas fa-caret-down" *ngIf="userActive"></i>
            <i class="fas fa-caret-up" *ngIf="!userActive"></i>
        </div>
    </div>
    <div class="user-content" [ngClass]="{'active' : userActive}">
        <app-user-details-tabs *ngIf="userActive" [user]="user"></app-user-details-tabs>
        <div class="user-buttons clearfix">
            <app-album-button [userId]="user.id"></app-album-button>
            <app-photos-button [userId]="user.id"></app-photos-button>
        </div>
    </div>
</section>
