<table class="table">
    <tbody>
    <tr>
        <th scope="row">
            <i class="fas fa-university"></i> Zip / City
        </th>
        <td>
            {{userAddress.zipcode + ' ' + userAddress.city}}
        </td>
    </tr>
    <tr>
        <th scope="row">
            <i class="fas fa-road"></i> Street
        </th>
        <td>
            {{userAddress.street}}
        </td>
    </tr>
    <tr>
        <th scope="row">
            <i class="fas fa-home"></i> Suite
        </th>
        <td>
            {{userAddress.suite}}
        </td>
    </tr>
    </tbody>
</table>
