// Fonts
$font-roboto-slab: Roboto Slab, serif;
$font-roboto:      Roboto, sans-serif;

// Colors
$color-blue-dark:     #2C3E50;
$color-blue-mid:      #2573A6;
$color-blue-light:    #3DB1FF;
$color-orange:        #FF5442;
$color-white:         #F5F9FA;
$color-black:         #111;
$color-grey-dark:     #333;
$color-grey-mid:      #777;
$color-grey-light:    #ccc;
$color-shadow-light:  rgba(0,0,0,0.3);
$color-shadow-dark:   rgba(0,0,0,0.7);