<section class="container-fluid">
    <div class="row">
        <h1><i class="fas fa-users"></i> Users</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 offset-sm-3 offset-md-4">
            <app-search-input (searchTerm)="changeSearchName($event)"></app-search-input>
        </div>
    </div>
    <div class="row" *ngIf="users$ | async as users">
        <app-user-card *ngFor="let user of users | filterUserByName: userSearchName" [user]="user" class="col-12 col-sm-6 col-md-4"></app-user-card>
    </div>
</section>
