@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.user-details-tabs {
  .tabs-bar {
    border-bottom: $color-blue-light 4px solid;

    & > div {
      cursor: pointer;
      display: block;
      padding: 1rem 0;
      float: left;
      width: 20%;
      text-align: center;
      font-size: 2rem;
      @include transition(color 0.3s ease-in-out);

      &:hover, &.active {
        color: $color-blue-light;
      }

      i {

      }
    }
  }
  .tabs-contents {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
}